.slider-widget-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stretch {
  position: relative;
  z-index: 3;
  right: 50%;
  left: 50%;
  width: 100vw;
  border: none !important;
  margin-right: 0;
  margin-left: 0;
  background-clip: content-box;
  box-shadow: none;
  transform: translate(-50%, 0%);
}

body:not(.view-viewview) .stretch {
  width: auto !important;
  max-width: 1790px !important;
  padding: 0;
  margin-right: -1.2rem !important;

  transform: translate(-50%, 0%);
}

/* overrides for stretched section */
.stretched-group {
  margin: 0 -50px;
}

/* detect if is authenticated or anon */
body:not(.is-authenticated) .stretch {
  right: 0;
  left: 0;
  width: auto;
  padding: 0;
  margin: 0 -1rem;
  transform: none;
}

/* detect if is logged in but in view with toolbar open */
body:not(.view-editview):not(.is-anonymous) .stretch {
  max-width: 1780px;
  padding: 0 4.5rem;
}

body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar-collapsed)
  .stretched-group {
  margin: 0 -50px;
}

body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar-collapsed)
  .stretch
  > fieldset
  legend {
  left: 19em !important;
}

body:not(.view-viewview):not(.has-sidebar):not(.has-toolbar)
  .stretch
  > fieldset
  legend {
  left: 9em !important;
}

body:not(.view-viewview):not(.has-sidebar):not(.has-toolbar-collapsed)
  .stretch
  > fieldset
  legend {
  left: 9em !important;
}

body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar)
  .stretched-group {
  margin: 0 -51px;
}

body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar)
  .stretch
  > fieldset
  legend {
  left: 19em !important;
}

body:not(.is-authenticated).stretch {
  padding: 0;
}

@media screen and (max-width: 1790px) {
  body:not(.view-editview):not(.is-anonymous) .stretch {
    right: auto;
    left: auto;
    width: auto;
    padding: 0;
    margin: 0 -1rem;
    transform: none;
  }
}

@media screen and (max-width: 1700px) {
  .stretch {
    margin-right: 0;
    margin-left: 0;
    transform: translate(-50%, 0%);
  }

  body:not(.view-viewview) .stretch {
    width: auto !important;
    max-width: 1790px !important;
    padding: 0;
    margin-right: -1.2rem !important;

    transform: translate(-50%, 0%);
  }

  body:not(.is-anonymous):not(.has-toolbar) .stretch {
    max-width: 1720px;
  }

  body:not(.is-anonymous):not(.has-toolbar-collapsed) .stretch {
    max-width: 1778px;
  }

  body:not(.is-authenticated) .stretch {
    max-width: 1700px;
  }

  /* media queries in edit both sidebars open */

  body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar-collapsed)
    .stretch
    > fieldset
    legend {
    left: 5em !important;
  }
}

/* fix for section border to come around the stretched zone */

@media screen and (max-width: 1654px) {
  body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar-collapsed)
    .stretched-group {
    margin: 0 -34px;
  }
}

@media screen and (max-width: 1595px) {
  body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar)
    .stretched-group {
    margin: 0px -35px;
  }
}

@media screen and (max-width: 1299px) {
  .stretched-group {
    margin: 0 -33px;
  }
}

@media screen and (max-width: 1280px) {
  body:not(.view-editview):not(.is-anonymous):not(.has-toolbar-collapsed)
    .stretch {
    margin: 0 -0.6rem;
  }

  body:not(.view-editview):not(.is-anonymous):not(.has-toolbar) .stretch {
    margin: 0 -1rem;
  }
}

@media screen and (max-width: 1220px) {
  body:not(.view-editview):not(.is-anonymous):not(.has-toolbar) .stretch {
    margin: 0 -0.6rem;
  }
}

@media screen and (max-width: 1200px) {
  body:not(.is-authenticated) .stretch {
    margin: 0 -0.6rem;
  }
}

@media screen and (max-width: 867px) {
  body:not(.view-viewview):not(.has-sidebar):not(.has-toolbar-collapsed)
    .stretched-group {
    margin: 0 -1px;
  }

  body:not(.view-viewview):not(.has-sidebar):not(.has-toolbar)
    .stretched-group {
    margin: 0 -35px;
  }
}

@media screen and (max-width: 807px) {
  body:not(.view-viewview):not(.has-sidebar):not(.has-toolbar)
    .stretched-group {
    margin: 0 -1px;
  }

  body:not(.view-viewview):not(.has-sidebar):not(.has-toolbar) .stretch {
    padding: 0 1.2rem;
  }
}

@media screen and (max-width: 767px) {
  body:not(.view-editview):not(.is-anonymous):not(.has-toolbar-collapsed)
    .stretch {
    padding: 0;
  }

  body:not(.view-editview):not(.is-anonymous):not(.has-toolbar) .stretch {
    padding: 0;
  }

  body:not(.is-authenticated) .stretch {
    padding: 0;
  }

  body:not(.view-viewview):not(.has-sidebar):not(.has-toolbar-collapsed)
    .stretch {
    padding: 0;
  }

  body:not(.view-viewview):not(.has-sidebar):not(.has-toolbar) .stretch {
    padding: 0;
  }
}
