.slider-widget-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stretch {
  position: relative;
  z-index: 3;
  right: 50%;
  left: 50%;
  width: 100vw !important;
  border: none !important;
  margin-right: -50vw !important;
  margin-left: -50vw !important;
  background-clip: content-box;
  box-shadow: none;
}

/* overrides for stretched section */
.stretched-group {
  margin: 0 -50px;
}

/* detect if is authenticated or anon */
body:not(.is-authenticated) .stretch {
  padding: 0 2rem;
}

/* detect if is logged in but in view with toolbar open */
body:not(.view-editview):not(.is-anonymous):not(.has-toolbar-collapsed)
  .stretch {
  padding: 0 4.5rem;
}
/* detect if its in edit mode */

/* detect if both sidebars open */
body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar-collapsed)
  .stretch {
  padding: 0 16.2rem;
}

body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar-collapsed)
  .stretched-group {
  margin: 0 -34px;
}

body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar-collapsed)
  .stretch
  > fieldset
  legend {
  left: 19em !important;
}

/* detect if both sidebars closed */
body:not(.view-viewview):not(.has-sidebar):not(.has-toolbar) .stretch {
  padding: 0 3.2rem;
}

body:not(.view-viewview):not(.has-sidebar):not(.has-toolbar)
  .stretch
  > fieldset
  legend {
  left: 9em !important;
}

/* detect if left sidebar open right sidebar closed */
body:not(.view-viewview):not(.has-sidebar):not(.has-toolbar-collapsed)
  .stretch {
  padding: 0 5.2rem;
}

body:not(.view-viewview):not(.has-sidebar):not(.has-toolbar-collapsed)
  .stretch
  > fieldset
  legend {
  left: 9em !important;
}

/* detect if left sidebar closed right sidebar open */
body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar)
  .stretch {
  padding: 0 14.3rem;
}

body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar)
  .stretched-group {
  margin: 0 -34px;
}

body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar)
  .stretch
  > fieldset
  legend {
  left: 19em !important;
}

body:not(.is-anonymous):not(.has-toolbar) .stretch {
  padding: 0 2.6rem;
}

body:not(.is-authenticated).stretch {
  padding: 0 !important;
}
/* fix for section border to come around the stretched zone */

@media screen and (max-width: 767px) {
  body:not(.is-authenticated) .stretch {
    padding: 0 !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 787px) {
  body:not(.is-authenticated) .stretch {
    padding: 2rem !important;
  }
}

@media screen and (min-width: 767px) and (max-width: 847px) {
  body:not(.view-editview):not(.is-anonymous):not(.has-toolbar-collapsed)
    .stretch {
    padding: 0 2.5rem !important;
  }
}

@media screen and (max-width: 847px) {
  body:not(.view-editview):not(.is-anonymous):not(.has-toolbar-collapsed)
    .stretch {
    padding: 0 2.5rem;
  }
  body:not(.view-editview):not(.is-anonymous):not(.has-toolbar) .stretch {
    padding: 0;
  }
}

@media screen and (min-width: 1654px) {
  body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar-collapsed)
    .stretched-group {
    margin: 0 -50px;
  }
}

@media screen and (min-width: 1700px) {
  .stretch {
    margin-right: 0 !important;
    margin-left: 0 !important;
    transform: translate(-50%, 0%);
  }

  body:not(.view-viewview) .stretch {
    width: auto !important;
    max-width: 1790px !important;
    padding: 0 !important;
    margin-right: -1.2rem !important;

    transform: translate(-50%, 0%);
  }

  /* detect if left sidebar closed right sidebar open */
  body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar)
    .stretch {
    margin-right: -3.2rem !important;
  }

  body:not(.is-anonymous):not(.has-toolbar) .stretch {
    max-width: 1720px;
  }

  body:not(.is-anonymous):not(.has-toolbar-collapsed) .stretch {
    max-width: 1778px;
  }

  body:not(.is-authenticated) .stretch {
    max-width: 1700px;
  }

  /* media queries in edit both sidebars open */

  body:not(.view-viewview):not(.has-sidebar-collapsed):not(.has-toolbar-collapsed)
    .stretch
    > fieldset
    legend {
    left: 5em !important;
  }
}
